html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    font-size: 14px;
    line-height: 30px;
}

#app {
    margin: 15px 5px;
    min-width: 400px;
}

.msg span {
    display: inline-block;
}

.msg .nl {
    width: 40px;
    text-align: center;
    font-weight: bold;
}

.msg .nn {
    width: 200px;
    font-weight: bolder;
}

.msg .level {
    width: 40px;
    text-align: center;
}

.msg .bl {
    width: 30px;
    text-align: right;
    margin-right: 5px;
}

.msg .bnn {
    width: 50px;
    font-weight: bold;
}

.msg .time {
    width: 90px;
}

.msg .txt {
    font-size: 15px;
}

.layui-form-label {
    width: 60px;
}

.layui-form {
    padding-right: 15px;
}
