html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    font-size: 14px;
    line-height: 30px;
}

#app {
    max-width: 800px;
}

.msg span {
    display: inline-block;
}

.msg .nl {
    width: 10.256%;
    text-align: center;
    font-weight: bold;
}

.msg .level {
    width: 10.256%;
    text-align: center;
}

.msg .nn {
    width: 57.692%;
    font-weight: bolder;
}

.msg .bl {
    width: 7.692%;
    text-align: right;
    margin-right: 1.282%;
}

.msg .bnn {
    width: 12.820%;
    font-weight: bold;
}

.msg .time {
    width: 20.513%;
    vertical-align: top;
}

.msg .txt {
    font-size: 15px;
    width: 79.487%;
    word-break: break-word;
}

.layui-form-label {
    width: 60px;
}

.layui-form {
    padding-right: 15px;
}
