html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    font-size: 14px;
    line-height: 30px;
}

#app {
    margin: 5px;
}

#form .form-item label {
    display: inline-block;
    width: 100px;
}

#form .form-item input, #form .form-item select {
    width: 150px;
}

#msg span {
    display: inline-block;
}

#msg .nl {
    width: 50px;
}

#msg .nn {
    width: 200px;
    font-weight: bolder;
}

#msg .level {
    width: 40px;
}

#msg .bnn {
    width: 50px;
    text-align: right;
    margin-right: 5px;
}

#msg .bl {
    width: 40px;
}

#msg .time {
    width: 80px;
}

#msg .txt {
    font-size: 15px;
}
