name: Android
on:
  - push
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build
        run: |
          npm install -g cordova
          cordova create cordova
          rm -rf ./cordova/www/*
          cp -rf ./css ./js ./layui ./index.html ./LICENSE ./cordova/www
          cd cordova
          cordova platform add android
          cordova build android --release
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: douyu.apk
          path: ./cordova/build
